<div id="page" class="container" xmlns="http://www.w3.org/1999/html">
  <div id="content2">
    <div class="title centered">
      <h1>Create an article</h1>
    </div>

    <%= render 'form' %>


  </div>
</div>